In [16]:
# importing dependencies
import pandas as pd

In [17]:
# read csv
train_df = pd.read_csv("static/data/train_cleaned.csv")
test_df = pd.read_csv("static/data/test_cleaned.csv")

In [18]:
train_df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,Male,Yes,1,Graduate,No,54996,18096,128000,360,1,Rural,N
1,LP001005,Male,Yes,0,Graduate,Yes,36000,0,66000,360,1,Urban,Y
2,LP001006,Male,Yes,0,Not Graduate,No,30996,28296,120000,360,1,Urban,Y
3,LP001008,Male,No,0,Graduate,No,72000,0,141000,360,1,Urban,Y
4,LP001011,Male,Yes,2,Graduate,Yes,65004,50352,267000,360,1,Urban,Y

In [19]:
# setting up the variables correctly
train_df["Gender"].replace({"Male": "0", "Female": "1"}, inplace=True)
test_df["Gender"].replace({"Male": "0", "Female": "1"}, inplace=True)

train_df["Married"].replace({"Yes": "1", "No": "0"}, inplace=True)
test_df["Married"].replace({"Yes": "1", "No": "0"}, inplace=True)

train_df["Dependents"].replace({"3+": "3"}, inplace=True)
test_df["Dependents"].replace({"3+": "3"}, inplace=True)

train_df["Education"].replace({"Graduate": "1", "Not Graduate": "0"}, inplace=True)
test_df["Education"].replace({"Graduate": "1", "Not Graduate": "0"}, inplace=True)

train_df["Self_Employed"].replace({"Yes": "1", "No": "0"}, inplace=True)
test_df["Self_Employed"].replace({"Yes": "1", "No": "0"}, inplace=True)

train_df["Property_Area"].replace({"Urban": "2", "Semiurban": "1", "Rural": "0"}, inplace=True)
test_df["Property_Area"].replace({"Urban": "2", "Semiurban": "1", "Rural": "0"}, inplace=True)

train_df["Loan_Status"].replace({"Y": "1", "N": "0"}, inplace=True)

In [25]:
# creating list of features
col_list = list(train_df.columns)[1:-1]

In [114]:
# Scale your data
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

X_train_scaled = scaler.fit_transform(X_train, X_test)
X_test_scaled = scaler.fit_transform(X_test, X_test)

In [115]:
# creating X and y from dataframe
X = train_df[col_list]
y = train_df['Loan_Status']

# Use train_test_split to create training and testing data
from sklearn.model_selection import train_test_split

X_train_scaled, X_test_scaled, y_train, y_test = train_test_split(X, y, random_state=5)

In [116]:
# Create the model using LinearRegression

from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [117]:
# Fit the model to the training data and calculate the scores for the training and testing data

model.fit(X_train_scaled, y_train)
training_score = model.score(X_train_scaled, y_train)
testing_score = model.score(X_test_scaled, y_test)

print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 0.29330665381801446
Testing Score: 0.29047326826021447